.Users {
  /* padding: 1rem 2rem;
  border-radius: 10px;
  background-color: white; */
}
.buttonsContainer {
  /* padding: 1rem 2rem;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  background-color: white; */
}

.addUserButton {
  box-shadow: rgba(70, 83, 158, 0.176) 0px 8px 7px;
}

.list {
  /* padding: 1rem 2rem;
  border-radius: 10px;
  background-color: white; */
}
