.userIcon {
  margin: 0 auto;
  width: 14vw;
  height: 14vw;
}

.cardsWrapper {
  display: flex;
  justify-content: space-between;
}

.searchCard,
.chartCard {
  width: 50%;
}

@media (max-width: 730px) {
  .cardsWrapper {
    flex-direction: column;
  }
}
