.SideBar {
  position: fixed;
  padding: 20px 0;
  top: 2.5rem;
  left: 0;
  height: calc(100vh - 2.5rem);
  width: 18%;
  background-color: white;
  color: rgb(145, 145, 145);
}

.list {
  list-style-type: none;
}

.searchItem {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.icon {
  font-size: 1.2rem;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.536);
}

.iconArrow {
  margin-left: auto;
}

.navButton {
  display: flex;
  align-items: center;
  padding-left: 13%;
  padding: 4% 13%;
  margin: 1% 0;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
}

.navButton:hover {
  background-color: rgba(205, 205, 205, 0.213);
}
