.UserFormModal {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #ffffffde;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vmin;
  padding: 2rem 3rem 3rem 3rem;
  width: 35%;
  min-width: 340px;
  background-color: rgb(50, 50, 56);
  color: white;
  box-shadow: rgba(70, 83, 158, 0.6) 0px 5px 15px;
  overflow-y: scroll;
}

.header {
  display: flex;
  position: relative;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.backButton {
  position: absolute;
  left: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.backIcon {
  margin-right: auto;
  color: white;
  font-size: 1.4rem;
}

.title {
  font-size: 1.2rem;
}

.input,
.select,
.submitButton {
  padding: 0.8rem;
  width: 100%;
  border: none;
  font-family: "Montserrat";
}

.input,
.select {
  margin-bottom: 0.6rem;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: rgb(255, 255, 255);
}

select:invalid {
  color: rgb(180, 180, 180);
}

option {
  color: rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}

.input::placeholder {
  opacity: 1;
  color: rgb(180, 180, 180);
  font-size: 1rem;
}

.submitButton {
  margin-top: 1rem;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  cursor: pointer;
  background-color: var(--primary-blue);
}

@media (max-width: 340px) {
  .form {
    margin-top: 2.2rem;
    width: 100%;
    min-width: auto;
  }
}
