@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-grey: rgb(107, 107, 107);
  --secondary-grey: rgb(238, 238, 238);
  --third-grey: rgb(145, 145, 145);
  --primary-blue: #2ebaef;
  --secondary-blue: #2d247c;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.button {
  padding: 0.7rem 2rem;
  margin-right: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 20px;
  background-color: transparent;
  border: 0.11rem solid var(--primary-blue);
  color: var(--primary-blue);
}

.button:hover {
  background-color: var(--primary-blue);
  color: white;
}

.container {
  padding: 1rem 2rem;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.038) 0px 4px 12px;
}

.container-title {
  display: block;
  padding: 0 0 0.5rem 0.9rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-grey);
  border-bottom: 1px solid var(--secondary-grey);
}
